samples/OAuthClient/Service References/SampleResourceServer/ProfileService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.acme.com/ProfileService/" elementFormDefault="qualified" targetNamespace="http://www.acme.com/ProfileService/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65170/ProfileService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OAuthResourceServer.Code" />
  <xs:element name="GetUserProfile">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OAuthResourceServer.Code" minOccurs="0" name="GetUserProfileResult" nillable="true" type="q1:UserProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>